<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Bootstrap Dependency -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Angular files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
    <!-- Custom files of JS -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/Factories/dailyFeedFactory.js"></script>
    <script src="assets/js/Controllers/homeCtrl.js"></script>
    <script src="assets/js/Controllers/dailyFeedCtrl.js"></script>
    

</head>
<body ng-app="myApp">
    <!-- Loader -->
    <div id="overlay" ng-if="isLoader"></div>
    <div class="loader" ng-if="isLoader"></div>

    <!-- START CONTENT -->
    <section ng-view>

    </section>
    <!-- END CONTENT -->     
      
</body>
</html>